body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root { 
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 2px solid #979c9a;
  --border-radius: 10px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.6);
}

.icon-button > svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: calc(var(--nav-size) - 2px);
  width: 250px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  /*justify-content: flex-start;*/
  transition: border, background var(--speed);
  padding: 1.2rem;
}

.menu-item:not(:last-child):after{
  background-color: #C0C0C0; 
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  width: 75%;


}
/*.menu-item:nth-child(1) {
  margin-left: auto;
}*/
.menu-item:hover {
  background-color: #95999f;
  border-radius: var(--border-radius);
  border: none;
}
.menu-title {
  padding: 0.8rem;
  font-size: 1.2rem;
}
.right-icon {
  margin-left: auto;
}
